.leftNav {
    flex: 0.25;
    margin-top: 60px;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
}

.leftNav__item {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    padding: 10px 0;
    padding-left: 10px;
    cursor: pointer;
    border-radius: 8px;
}

.leftNav__item:hover {
    background-color: rgb(224, 227, 230);;
}

.leftNav__item > p {
    flex: 1;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    padding-left: 10px;
    font-weight: 700;
    font-size: 14px;
    color: #333;
}

.leftNav__icon.avatar {
    height: 28px;
    width: 28px;
}

.leftNav__icon {
    height: 25px;
    width: 25px;
    color: rgb(16, 115, 191);
}

/* scrollbar */
.leftNav::-webkit-scrollbar {
    width: 8px;
}

.leftNav:hover::-webkit-scrollbar-track {
    background: transparent;
}

.leftNav::-webkit-scrollbar-track:hover {
    background: rgb(221, 222, 222);
}
  
.leftNav::-webkit-scrollbar-thumb {
    /* background: #555; */
    border-radius: 30px;
}
  
.leftNav:hover::-webkit-scrollbar-thumb {
    background: rgb(183, 183, 183);
}