.login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 50px 0;
    text-align: center;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.7);
    /* background-color: white; */
    /* margin-top: 50px; */
    border-radius: 7px;
    box-shadow: 0 0 20px black;
    z-index: 2;
}

.login__logo > img {
    height: 150px;
    color: white;
}

.login__logo > h1 {
    font-family: 'Reggae One', cursive;
    color: white;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.login__logo > h4 {
    color: rgb(0, 179, 255);
    text-transform: capitalize;
    font-family: 'Reggae One', cursive;
    /* font-family: 'Oswald', sans-serif; */
    /* font-family: 'Ballet', cursive; */
    /* font-family: 'Montserrat', sans-serif; */
    margin-top: 10px;
}

.login > button {
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 4px;
    font-weight: 900;
    font-size: 11px;
    padding: 10px 3rem;
    margin-top: 3rem;
    outline:  none;
    border: 1px solid white;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: 500ms;
    box-shadow: 0 0 5px white;
}

.login button:hover {
    padding: 10px 5rem;
    /* background-color: white; */
}

.login__background {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url('https://cdn.vox-cdn.com/thumbor/tigQvsBV_CQn1Vj-_QHeHH534i8=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/13177921/FacebookHack_getty_ringer.jpg');
    z-index: -1;
    /* height: 80vh; */
}

.login__background > img {
    object-fit: contain;
    width: 100%;
}

.login__creator {
    border: 2px solid white;
    margin: 0 auto;
    height: 50px !important;
    width: 50px !important;
    margin-top: 10px;
}